<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <title>Erasmiaans Schaaktoernooi</title>

    <meta name="viewport" content="width=device-width, initial-scale=1,
    maximum-scale=1.0, user-scalable=no"/>

    <!-- Materialize -->
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!-- Navigation -->
    <nav class=" blue" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo" href="#">Eras
          Schaaktoernooi</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i
            class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
      </div>
    </nav>

    <!-- jQuery -->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Materialize -->
    <script src="js/materialize.min.js"></script>

    <!-- Custom script -->
    <script src="js/script.js"></script>
  </body>
</html>
