<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <title>Erasmiaans Schaaktoernooi</title>

    <meta name="viewport" content="width=device-width, initial-scale=1,
    maximum-scale=1.0, user-scalable=no"/>

    <!-- Materialize -->
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot no-pad-top">
        <div class="container">
          <h1 class="header center">Erasmiaans Schaak&shy;toernooi</h1>
          <div class="row center">
            <h5 class="header col s12 light">
            Het grootste schaaktoernooi van het Erasmiaans Gymnasium
            </h5>
          </div>
          <div class="row center">
            <a id="join-button" class="btn-large waves-effect z-depth-3 waves-light brown darken-3" href="#info" >Meer informatie</a>
          </div>
        </div>
      </div>
      <div class="parallax">
        <img
           src="assets/chess-3.png" alt="Chess board">
      </div>
    </div>

    <div class="container" id="info">
      <div class="section">
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center">
                <i class="material-icons">info_outline</i>
              </h2>
              <h5 class="center">Over het toernooi</h5>
              <p class="light">
              Het Erasmiaans Schaaktoernooi is een schaaktoernooi georganiseerd
              door schakers en leerlingen van het Erasmiaans, voor jonge
              schakers in regio Rotterdam.
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center">
                <i class="material-icons">question_answer</i>
              </h2>
              <h5 class="center">Contact</h5>
              <p class="light">
              Contact opnemen of vragen aan de organisatie? email naar:
              <a href="">example@example.com</a>.
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center">
                <i class="material-icons">today</i>
              </h2>
              <h5 class="center">Locatie en datum</h5>
              <p class="light">
              Het toernooi is in het gebouw van het <a href="https://www.google.no/maps/place/Erasmiaans+Gymnasium/@51.9117408,4.4661313,17z/data=!3m1!4b1!4m5!3m4!1s0x47c43499409edd73:0xfafb4367026fd5ca!8m2!3d51.9117408!4d4.46832" target="_blank">Erasmiaans Gymnasium;
                Wytemaweg 25, 3015 CN</a> Rotterdam. Het toernooi vindt plaats op
              zaterdag 7 januari 2017.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">Strategy requires thought, tactics require observation <cite>- Max Euwe</cite></h5>
          </div>
        </div>
      </div>
      <div class="parallax">
        <img src="assets/chess-1.png" alt="Forest">
      </div>
    </div>

    <div class="container" id='big-p'>
      <div class="section">
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="col s12">
                <h4>Deelname</h4>
                <p class="light left-align">
                Deelname aan het toernooi is op individuele basis. Om in te
                schrijven, mail dan je naam, leeftijd en eventueel rating naar
                <a href="">example@example.com</a>. De inschrijvingskosten zijn
                €5,- per persoon en moeten betaald worden op de dag van het
                toernooi zelf.
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <h4>Schema</h4>
                <p class="light">Under construction.</p>
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <h4>Ratinggroupen</h4>
                <table class="bordered">
                  <thead>
                    <tr>
                      <th>Groep</th>
                      <th>Rating</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>A</td>
                      <td>1700 of hoger</td>
                    </tr>
                    <tr>
                      <td>B</td>
                      <td>1200 tot 1700</td>
                    </tr>
                    <tr>
                      <td>C</td>
                      <td>1200 of geen rating</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">Life is like a game of chess; changing with every move <cite>- Chinese proverb</cite></h5>
          </div>
        </div>
      </div>
      <div class="parallax">
        <img src="assets/chess-2.png" alt="Train track">
      </div>
    </div>

    <div class="z-depth-4">
      <footer class="page-footer brown darken-4">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">A word from the creator</h5>
              <p class="grey-text text-lighten-4">
              As I greatly value freedom; this projects source code has been published on GitHub, meaning that you have complete access to all the code. By open-sourcing your programs you can also contribute to the software world by sharing your knowledge, and letting others learn from it.
              </p>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Find me</h5>
              <ul>
                <li><a class="white-text" href="https://www.facebook.com/fortsattfredrik?ref=bookmarks">Facebook</a></li>
                <li><a class="white-text" href="https://twitter.com/kongmalmo">Twitter</a></li>
                <li><a class="white-text" href="https://github.com/fredrikaugust">GitHub</a></li>
                <li><a class="white-text" href="mailto:mail.fredrikaugust@gmail.com">Email</a></li>
              </ul>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Project resources</h5>
              <ul>
                <li><a class="white-text" href="https://github.com/fredrikaugust/chess-site">Source</a></li>
                <li><a class="white-text" href="http://materializecss.com/">Framework</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="footer-copyright brown darken-3">
          <div class="container">
            &copy; 2016 <a class="brown-text text-lighten-3" href="http://github.com/fredrikaugust">
              Fredrik A. Madsen-Malmo</a> &amp; Aksel Andersen Syverud, released under the AGPL-3.0+ license
          </div>
        </div>
      </footer>
    </div>

    <!-- jQuery -->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Materialize -->
    <script src="js/materialize.min.js"></script>

    <!-- Custom script -->
    <script src="js/script.js"></script>
  </body>
</html>
