<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <title>Eras Schaaktoernooi</title>

    <meta name="viewport" content="width=device-width, initial-scale=1,
    maximum-scale=1.0, user-scalable=no"/>

    <!-- Materialize -->
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!-- Navigation -->
    <nav role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo" href="#">Eras
          Schaaktoernooi</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Lorem</a></li>
          <li><a href="#">Ipsum</a></li>
          <li><a href="#">Dolor</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Lorem</a></li>
          <li><a href="#">Ipsum</a></li>
          <li><a href="#">Dolor</a></li>
        </ul>
      </div>
    </nav>

    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot no-pad-top">
        <div class="container">
          <h1 class="header center">
            Lorem Ipsum
          </h1>
          <div class="row center">
            <h5 class="header col s12 light">
              Lorem ipsum dolor sit amet consectur
            </h5>
          </div>
          <div class="row center">
            <a id="join-button" class="btn-large waves-effect waves-light" href="#join">
              Lorem ipsum!
            </a>
          </div>
        </div>
      </div>
      <div class="parallax">
        <img
           src="http://cdn.pcwallart.com/images/chess-wallpaper-black-and-white-wallpaper-2.jpg" alt="Chess board">
      </div>
    </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center">
                <i class="material-icons">info_outline</i>
              </h2>
              <h5 class="center">Lorem ipsum</h5>
              <p class="light">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Quisque vel ornare tellus. Integer vitae faucibus urna,
              eget blandit eros. Aliquam dapibus viverra tempor. Integer
              viverra rutrum sem, molestie porta lectus imperdiet quis.
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center">
                <i class="material-icons">label_outline</i>
              </h2>
              <h5 class="center">Consectut</h5>
              <p class="light">
              Integer tristique diam sit amet auctor gravida. Fusce aliquet
              rutrum nunc, nec efficitur urna venenatis ut. In consequat
              mattis diam nec bibendum.
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center">
                <i class="material-icons">today</i>
              </h2>
              <h5 class="center">Praesent</h5>
              <p class="light">
              Praesent ac vehicula justo. Suspendisse ut sem ex. Praesent
              sed purus odio. Aenean auctor tristique orci sed posuere. Nam
              orci arcu, vulputate eu ligula id, ultrices viverra nisl.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">Septum al idet</h5>
          </div>
        </div>
      </div>
      <div class="parallax">
        <img src="http://kingofwallpapers.com/dark-forest/dark-forest-022.jpg" alt="Forest">
      </div>
    </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <h4>Lorem ipsum</h4>
            <p class="light left-align">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            scelerisque id nunc nec volutpat. Etiam pellentesque tristique
            arcu, non consequat magna fermentum ac. Cras ut ultricies
            eros. Maecenas eros justo, ullamcorper a sapien id, viverra
            ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum
            sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis
            nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa
            odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget
            dignissim mauris, non tristique erat. Vestibulum ante ipsum primis
            in faucibus orci luctus et ultrices posuere cubilia Curae;
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">
              Lorem ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            </h5>
          </div>
        </div>
      </div>
      <div class="parallax">
        <img src="http://wallpapercave.com/wp/6SLzBEY.jpg" alt="Train track">
      </div>
    </div>

    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">A word from the creator</h5>
            <p class="grey-text text-lighten-4">
            This website was created with passion by me, Fredrik, as a token of appreciation for all Martijn has done for me. Creating this website also benefits me in the long run, as I will have more to put on my <i>curriculum vitae</i>. I hope that this website will help spread the word of this great initative by the school to engage <i>children</i> in playing chess.</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Find me</h5>
            <ul>
              <li><a class="white-text" href="https://www.facebook.com/fortsattfredrik?ref=bookmarks">Facebook</a></li>
              <li><a class="white-text" href="https://twitter.com/kongmalmo">Twitter</a></li>
              <li><a class="white-text" href="https://github.com/fredrikaugust">GitHub</a></li>
              <li><a class="white-text" href="mailto:mail.fredrikaugust@gmail.com">Email</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Project resources</h5>
            <ul>
              <li><a class="white-text" href="https://github.com/fredrikaugust/chess-site">Source</a></li>
              <li><a class="white-text" href="http://materializecss.com/">Framework</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
          Made by <a class="brown-text text-lighten-3" href="http://github.com/fredrikaugust">
            Fredrik A. Madsen-Malmo
          </a>
        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Materialize -->
    <script src="js/materialize.min.js"></script>

    <!-- Custom script -->
    <script src="js/script.js"></script>
  </body>
</html>
