<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <title>Erasmiaans Schaaktoernooi</title>

    <!-- Materialize -->
    <link rel="stylesheet" href="css/materialize.min.css">
  </head>
  <body>

    <!-- jQuery -->
    <script type="text/javascript"
     src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Materialize -->
    <script src="js/materialize.min.js"></script>
  </body>
</html>
