<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <title>Erasmiaans Schaaktoernooi</title>

    <meta name="viewport" content="width=device-width, initial-scale=1,
    maximum-scale=1.0, user-scalable=no"/>

    <!-- Materialize -->
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!-- Navigation -->
    <nav role="navigation" class="brown darken-1">
      <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo light hide-on-small-and-down" href="#">Erasmiaans Schaaktoernooi</a>
        <a id="logo-container" class="brand-logo light hide-on-med-and-up" href="#">Schaaktoernooi</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Lorem</a></li>
          <li><a href="#">Ipsum</a></li>
          <li><a href="#">Dolor</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Lorem</a></li>
          <li><a href="#">Ipsum</a></li>
          <li><a href="#">Dolor</a></li>
        </ul>
      </div>
    </nav>

    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot no-pad-top">
        <div class="container">
          <h1 class="header center">Erasmiaans Schaak&shy;toernooi</h1>
          <div class="row center">
            <h5 class="header col s12 light">
            Het grootste schaaktoernooi van het Erasmiaans Gymnasium
            </h5>
          </div>
          <div class="row center">
            <a id="join-button" class="btn-large waves-effect waves-light brown darken-3" href="https://www.google.no/maps/place/Erasmiaans+Gymnasium/@51.9117408,4.4661313,17z/data=!3m1!4b1!4m5!3m4!1s0x47c43499409edd73:0xfafb4367026fd5ca!8m2!3d51.9117408!4d4.46832?hl=en" target="_blank">
            Routebeschrijving
            </a>
          </div>
        </div>
      </div>
      <div class="parallax">
        <img
           src="assets/chess-1.png" alt="Chess board">
      </div>
    </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center">
                <i class="material-icons">info_outline</i>
              </h2>
              <h5 class="center">Lorem ipsum</h5>
              <p class="light">
              Het Erasmiaans Schaaktoernooi is een schaaktoernooi georganiseerd door schakers en leerlingen van het Erasmiaans voor jonge schakers in regio Rotterdam.
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center">
                <i class="material-icons">navigation</i>
              </h2>
              <h5 class="center">Locatie</h5>
              <p class="light">
              Het toernooi is op het Erasmiaans Gymnasium; Wytemaweg 25 - 3015CN Rotterdam.
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center">
                <i class="material-icons">today</i>
              </h2>
              <h5 class="center">Datum</h5>
              <p class="light">
              Het toernooi vindt plaats op zaterdag 7 januari 2017. Meer informatie over de prijs en ticketverkoop wordt later beschikbaar.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">Strategy requires thought, tactics require observation <cite>- Max Euwe</cite></h5>
          </div>
        </div>
      </div>
      <div class="parallax">
        <img src="assets/chess-3.png" alt="Forest">
      </div>
    </div>

    <div class="container" id='big-p'>
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <h4>Lorem ipsum</h4>
            <p class="light left-align">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            scelerisque id nunc nec volutpat. Etiam pellentesque tristique
            arcu, non consequat magna fermentum ac. Cras ut ultricies
            eros. Maecenas eros justo, ullamcorper a sapien id, viverra
            ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum
            sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis
            nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa
            odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget
            dignissim mauris, non tristique erat. Vestibulum ante ipsum primis
            in faucibus orci luctus et ultrices posuere cubilia Curae;
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">Life is like a game of chess; changing with every move <cite>- Chinese proverb</cite></h5>
          </div>
        </div>
      </div>
      <div class="parallax">
        <img src="assets/chess-2.png" alt="Train track">
      </div>
    </div>

    <footer class="page-footer brown darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">A word from the creator</h5>
            <p class="grey-text text-lighten-4">
            As I greatly value freedom; this projects source code has been published on GitHub, meaning that you have complete access to all the code. By open-sourcing your programs you can also contribute to the software world by sharing your knowledge, and letting others learn from it.
            </p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Find me</h5>
            <ul>
              <li><a class="white-text" href="https://www.facebook.com/fortsattfredrik?ref=bookmarks">Facebook</a></li>
              <li><a class="white-text" href="https://twitter.com/kongmalmo">Twitter</a></li>
              <li><a class="white-text" href="https://github.com/fredrikaugust">GitHub</a></li>
              <li><a class="white-text" href="mailto:mail.fredrikaugust@gmail.com">Email</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Project resources</h5>
            <ul>
              <li><a class="white-text" href="https://github.com/fredrikaugust/chess-site">Source</a></li>
              <li><a class="white-text" href="http://materializecss.com/">Framework</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
          &copy; 2016 <a class="brown-text text-lighten-3" href="http://github.com/fredrikaugust">
            Fredrik A. Madsen-Malmo</a>, released under the AGPL-3.0+ license
        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Materialize -->
    <script src="js/materialize.min.js"></script>

    <!-- Custom script -->
    <script src="js/script.js"></script>
  </body>
</html>
