<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <title>Erasmiaans Schaaktoernooi</title>

    <meta name="viewport" content="width=device-width, initial-scale=1,
    maximum-scale=1.0, user-scalable=no"/>

    <!-- Materialize -->
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!-- Navigation -->
    <nav role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo" href="#">Eras
          Schaaktoernooi</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
      </div>
    </nav>

    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot no-pad-top">
        <div class="container">
          <h1 class="header center">
            Lorem Ipsum
          </h1>
          <div class="row center">
            <h5 class="header col s12 light">
              Lorem ipsum dolor sit amet consectur
            </h5>
          </div>
          <div class="row center">
            <a id="join-button" class="btn-large waves-effect waves-light" href="#join">
              Lorem ipsum!
            </a>
          </div>
        </div>
      </div>
      <div class="parallax">
        <img
           src="http://cdn.pcwallart.com/images/chess-wallpaper-black-and-white-wallpaper-2.jpg" alt="Chess board">
      </div>
    </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center">
                <i class="material-icons">info_outline</i>
              </h2>
              <h5 class="center">Lorem ipsum</h5>
              <p class="light">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Quisque vel ornare tellus. Integer vitae faucibus urna,
              eget blandit eros. Aliquam dapibus viverra tempor. Integer
              viverra rutrum sem, molestie porta lectus imperdiet quis.
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center">
                <i class="material-icons">label_outline</i>
              </h2>
              <h5 class="center">Consectut</h5>
              <p class="light">
              Integer tristique diam sit amet auctor gravida. Fusce aliquet
              rutrum nunc, nec efficitur urna venenatis ut. In consequat
              mattis diam nec bibendum.
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center">
                <i class="material-icons">today</i>
              </h2>
              <h5 class="center">Praesent</h5>
              <p class="light">
              Praesent ac vehicula justo. Suspendisse ut sem ex. Praesent
              sed purus odio. Aenean auctor tristique orci sed posuere. Nam
              orci arcu, vulputate eu ligula id, ultrices viverra nisl.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">Septum al idet</h5>
          </div>
        </div>
      </div>
      <div class="parallax">
        <img src="https://images.freecreatives.com/wp-content/uploads/2015/10/narrow-road-dark-background-wallpaper.jpg"
             alt="Forest">
      </div>
    </div>

    <!-- jQuery -->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Materialize -->
    <script src="js/materialize.min.js"></script>

    <!-- Custom script -->
    <script src="js/script.js"></script>
  </body>
</html>
